<h1>役職画面</h1>

<p>
  <strong>村ID:</strong>
  <%= @village.villageNum  %>
</p>

<p>
  <strong>あなたの名前:</strong>
  <%= @village.name  %>
</p>
 
<p>
  <strong>あなたの役職:</strong>
  <%= @village.position  %>
</p>

<% if @village.position == '村人' %>
    
<% else %>
    <p>
      <strong>お題:</strong>
      <%= @village.theme  %>
    </p>
<% end %>
<br>

<% if @village.position == '内通者' %>
  <div style="text-align:center;">
      <span class="frame" >
          <img src="/jack30.jpg">
      </span>
  </div>
  <br><br>
<% end %>

<%= link_to '部屋に戻る' , join_rooms_path(roomNum: @roomNum , name:current_user.name) ,method: :put ,data: { confirm: '部屋に戻ります。OK?' } , class: 'btn btn-primary'%>
<% if @room.position == 'owner' %>
  <%= link_to '再送：役職を配布する' , resend_show_village_villages_path(roomNum: @roomNum , villageNum: @village.villageNum) ,method: :put , class: 'btn btn-primary'%>
<% end %>






