<h2>ログイン</h2>
<h5>ソーシャルアカウントを利用してログイン</h5>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% if OmniAuth::Utils.camelize(provider) == "Twitter" %>
      <div class="btn btn-social btn-twitter" >
        <span class="fa fa-twitter"></span>
        <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログイン", omniauth_authorize_path(resource_name, provider), :style=>"color:white;" %><br />
      </div>
    <% else %>
      <div class="btn btn-social btn-facebook" >
        <i class="fa fa-facebook-f"></i>
        <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログイン", omniauth_authorize_path(resource_name, provider), :style=>"color:white;" %><br />
      </div>
    <% end %>
  <% end %>
<% end %>

<hr class="divider">

<h5>一時アカウントでログイン</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name , autocomplete: "name" , required: true %>
  </div>
  <div class="field">
    <%= f.email_field :email, value: "a@a", type: "hidden" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, value: "naituupass", type: "hidden" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, value: "naituupass", type: "hidden" %>
  </div>

  <div class="actions">
    <%= f.submit "一時アカウントでログイン" ,class: 'btn btn-primary' %>
  </div>
<% end %>

