 <span id="showvil_datatag" data-roomNum= <%= @room.roomNum %> data-villageNum=0 data-position= <%= @room.position %>  ></span> 

<p>
  <strong>部屋ID:</strong>
  <span id="show_Room_Num"><%= @showRoomNum  %></span>
</p>
 
<p>
  <strong>オーナー:</strong>
  <span id="show_room_owner"> <%= @showOwnName  %> </spna>
</p>

<p>
  <div id="show_room_mem">
    <strong>メンバー:</strong>
    <% @showMemberTxtAry.each do | member | %>
      <span class="label label-default" style="color: white; background-color: #428bca;"><%= member %></span>
    <% end %>
  </div>
</p>


<% if @room.position == 'owner' %>
  <%= link_to '役職を配布する' , villages_path(roomNum: @room.roomNum ,name: @room.name ,roomId: @room.id ) , method: :post  , class: 'btn btn-primary'  %>
<% else %>
  あなたはメンバーです。オーナーによるゲーム開始をお待ち下さい。<br><br>
<% end %>

<%= link_to '部屋をぬける' , room_out_rooms_path(roomId: @room.id)  , class: 'btn btn-primary' %>


<!-- モーダル・ダイアログ -->
<div class="modal fade" id="modal_start_vil" tabindex="-1" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ゲームを開始します</h4>
      </div>
      <div class="modal-body">
        オーナーによって、役職が配布されました。「ゲームを始める」ボタンを押して遷移してください
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_btn_start_vil" class="btn btn-default">ゲームを始める</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_close_room" tabindex="-1" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">部屋が閉じられました</h4>
      </div>
      <div class="modal-body">
        オーナーによって、部屋が閉じられました。「部屋一覧に戻る」ボタンを押して移動してください
      </div>
      <div class="modal-footer">
        <button type="button" id="modal_btn_close_room" class="btn btn-default" onclick="location.href='../rooms'">部屋一覧に戻る</button>
      </div>
    </div>
  </div>
</div>

<!-- owner専用　モーダル -->
<% if @room.position == 'owner' %>

  <div class="modal fade" id="modal_err_createVlg_lackmember" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ゲーム開始　エラー</h4>
        </div>
        <div class="modal-body">
          メンバーが不足している為、ゲームを開始できません。最低でも１名のメンバーが必要です。
        </div>
        <div class="modal-footer">
          <button type="button" id="modal_btn_start_vil" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

<% end %>



<script>
 $( function() {
  $('#modal_btn_start_vil').click( function () {
    $.ajax({
        url: '/villages/modal_trigger_show',
        type: 'GET',
        data: {roomNum: Number($('#showvil_datatag').data('roomNum')) , villageNum: Number($('#showvil_datatag').data('villageNum')) },
      });
  });
 });
</script>





  
  