<%= form_with(model: comment1, local: true) do |form| %>
  <% if comment1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment1.errors.count, "error") %> prohibited this comment1 from being saved:</h2>

      <ul>
      <% comment1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
